{{extend 'layout_test.html'}}

<div class="page-header clear-filter" filter-color="orange" style="height:600px">
    <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
    </div>
    <div class="container">
        <div class="content-center brand" id="econary">
            <div style="height:200px"></div> <!---space -->
            <h1 class="h1-seo">Diccionario económico</h1>
            <h5>Diccionario sobre términos relacionados a la economía, proyecto realizado para la clase de <strong>Microeconomía</strong> de la Universidad Mariano Galvez de Guatemala, Chimaltenango.</h5>
        </div>
    </div>
</div>

<div style="height:300px"></div> <!---space -->
<div class="container-fluid">
    <div class="row" id="search">
        <div class="col-md-6 offset-md-3">
            <h4 class="title text-center">My Portfolio</h4>
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                            <i class="now-ui-icons design_image"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                            <i class="now-ui-icons location_world"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                            <i class="now-ui-icons sport_user-run"></i>
                        </a>
                    </li>
                </ul>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    
</div>
